# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv
media/*
video/*
video_screen/*
AppUpload/build
AppUpload/env
AppUpload/Video_Upload/*
# other
.DS_Store
AppUpload.rar
AppUpload.rar
# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

