{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<header class="header">
    <form class="container-fluid" method="post">
        {% csrf_token %}
        <div class="d-none d-md-flex  gap-3">
            <input type="date" name="date_upload_old" value="{{ current_date_old }}" class="form-control" id="input-date-upload-old" required="">
            <input type="date" name="date_upload_new" value="{{ current_date_new }}" class="form-control" id="input-date-upload-new" required="">

            <div class="col-auto">
                <button type="submit" class="btn btn-primary" name="action" value="Seach">Tìm Kiếm</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"name="action" value="Date-Yesterday">Hôm Qua</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" name="action" value="Date-Today">Hôm Nay</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" name="action" value="Date-Month">Tháng Này</button>
            </div>
        </div>
    </form>
</header>
 
<div class="card ">
    <table class="table table-hover" id="count-data">
        <thead  class="col text-center">
            <tr>
                <th scope="col" class="col text-center">#</th>
                <th scope="col" class="col text-center">USE</th>
                <th scope="col" class="col text-center">COUNT VIDEO</th>
                <th scope="col" class="col text-center">COUNT THUMNAIL</th>
                <th scope="col" class="col text-center">COUNT TITTLE</th>
            </tr>
        </thead>
        <tbody class="col text-center">
            {% for item in data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th class="col text-center">
                        <label>{{ item.user }}</label>
                    </th>
                    <td class="col text-center">
                        <label class="bg-success btn-sm" style='width:100px;'>{{ item.cread_video }}</label>
                    </td>
        
                    <td class="col text-center">
                        <label class="btn bg-warning btn-sm" style='width:100px;'>{{ item.edit_thumnail }}</label>
                        <button class="btn btn-info btn-sm show-thumnail" style='width:100px;' type="button" data-id="{{ item.user.id }}" data-coreui-toggle="modal" data-coreui-target="#exampleModalCenteredScrollable">Xem</button>
                    </td>
        
                    <td class="col text-center">
                        <label class="btn bg-danger btn-sm" style='width:100px;'>{{ item.edit_title }} </label>
                        <button class="btn btn-info btn-sm show-title" style='width:100px;' type="button" data-id="{{ item.user.id }}" data-coreui-toggle="modal" data-coreui-target="#exept">Xem</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Thumbnail</h5>
                <input type="hidden" id="use-id-count-image" value="">
                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-md-3 g-1 justify-content-center h-100" id='image-img'>
                    </div> 
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center" id='page-image'>
                       
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exept" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Modal title</h5>
                <input type="hidden" id="use-id-count-title" value="">
                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" width="300px;">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col" class="col-1 text-center">ID</th>
                            <th scope="col" class="col text-center">Tiêu Đề</th>
                          </tr>
                        </thead>
                        <tbody  id='use-count-title'>
                            
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center" id='page-title'>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}

