{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@interactjs/interactjs@1.10.11/dist/interact.min.js"></script>

{% endblock stylesheets %}

{% block content %}
<div class="card mb-3">
    {% csrf_token %}
    <div class="card-body text-center">
        <div class="mb-1">
            <h3>Lấy text trong video</h3>
        </div>
        <div class="mb-1 ">
            <label class="form-label">*Danh sách ngôn ngữ hỗ trợ: Trung Quốc, Hà Lan, Anh, Pháp, Đức, Ý, Nhật, Bồ Đào Nha, Tây Ba Nha</label>
        </div>
        <div class="mb-1">
            <button class="btn btn-info col-2" type="button" id="btn-click-input-video">TẢI LÊN VIDEO </button>
            <input type="file" style='display:none;' id='input-video-get-text' accept="video/*">
        </div>
        <div class="mb-1" style='justify-content: center; display: flex;'>
            <div id='video-show' class="bg-black" style="width:1280px; height: 720px;">
                <canvas id="canvas" width="1358" height="763" style=" position: absolute;visibility: hidden;"></canvas>
                <video id="videoPlay" style="width: 100%; height: 100%;"></video>
            </div>
        </div>
        <div class="mb-1 nav justify-content-center" id="setting-get-text-video">
            <div class="input-group" style="width: 1280px;">
                <div class="col-1">
                    <button class="header-toggler px-md-0 me-md-3" type="button" id="btn-left-video">
                        <svg class="icon icon-lg">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-expand-left"></use>
                        </svg>
                    </button>
                </div>
                <div class="col-1">
                    <button class="header-toggler px-md-0 me-md-3" type="button" id='btn-play-video'>
                        <svg class="icon icon-lg">
                            <use  id="logo-svg-play-video" xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                        </svg>
                    </button>
                </div>
                <div class="col-1">
                    <button class="header-toggler px-md-0 me-md-3" type="button" id="btn-next-video">
                        <svg class="icon icon-lg">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-expand-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="col-1">
                    <button class="header-toggler px-md-0 me-md-3" type="button" id="btn-reset-video">
                        <svg class="icon icon-lg">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-history"></use>
                        </svg>
                    </button>
                </div>
                <div class="col-4">
                    <h4 id='video-duration'>00:00:00.0/00:03:14.8</h4>
                </div>
                <div class="row">
                    <label class="col-auto col-form-label" for="staticEmail">Next-time:</label>
                    <input id="input-count-next"class="col-auto col-form-label"  type="number" style="width:70px;" id="count-random" class="form-control" value="1" min="0" max="10" step="1">
                </div>
            </div>
            <div class="input-group m-2" style="width: 1280px;">
                <textarea class="form-control text-center" id="text-video" rows="5"></textarea>
            </div>
            <div class="input-group m-2" style="width: 1280px;">
                <div class="col">
                    <button class="btn btn-info" type="button" id='btn-get-text'>Lấy Text</button>
                    <button class="btn btn-success" type="button" id='btn-save-text'>LƯU TEXT</button>
                    <button class="btn btn-info" type="button" id='btn-auto-get-text'>AUTO</button>
                    <label class="col-auto col-form-label" for="staticEmail">Font-SIZE :</label>
                    <input class="col-auto col-form-label" id="input-size" type="number" style="width:70px;" id="count-random" class="form-control" value="32" min="0" max="100" step="1">
                </div>
            </div>
            <div class="mb-3" style="width: 1280px;text-left">
                <textarea class="form-control" id="text-all-video" rows="6"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>
<script src="{% static 'assets/js/get_text_video.js'%}"></script>
{% endblock javascripts %}

