{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}
{% if request.user.is_editor or request.user.is_superuser%}
    <header class="header">
        <div class="container-fluid ">
            <div class="d-none d-md-flex  gap-3">
                <div class="col-4">
                    <select class="form-select" id="folder_name">
                        {% for item in folder %}
                            <option value="{{ item.id}}">{{ item.folder_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" id='channel_name'>
                        {% for iteam in profiles %}
                            <option value="{{iteam.id}}">{{ iteam.channel_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if request.user.is_superuser %}
                    <div class="col-auto">
                        <button class="btn btn-outline-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#show_infor">
                            <svg class="icon">
                                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-low-vision"></use>
                            </svg>
                        </button>
                    </div>
                {% endif %}
                <div class="col-auto">
                    <button class="btn btn-outline-primary" id="add-text-content" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalLive3">Thêm Nội Dung</button>
                </div>

                <div class="col-auto">
                    <button class="btn btn-outline-primary" id='add-videos'type="button" data-coreui-toggle="modal" data-coreui-target="#modal-videos">Thêm Nhiều videos</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary" id ='add-one-video'type="button" data-coreui-toggle="modal" data-coreui-target="#modal-infor-video">Thêm Videos</button>
                </div>
            </div>
        </div>
    </header>
{% endif %}

<div class="card">
    {% csrf_token %}
    <table class="table table-hover">
		<!-- Hiển thị thanh video -->
        <tbody id="myTbody">
            {{ video_html }}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end" id='page_bar'>
            {{ page_bar_html }}
        </ul>
    </nav>
</div>

<!-- Hiển thị  thông tin kênh -->
<div class="modal fade" id="show_infor" tabindex="-1" aria-labelledby="exampleModalPopoversLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalPopoversLabel">Thông Tin Profile</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id='show-infor-profile'>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">Email address</label>
                <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_email_login }}' disabled>
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">Link Channel</label>
                <input class="form-control" id="exampleFormControlInput1"  value='{{ profile.channel_url }}'  disabled>
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">IP Vps Upload</label>
                <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_vps_upload }}' disabled>
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">Số Tiền Hiện Trên Kênh</label>
                <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_money }}'disabled>
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">Views 28h/Kênh</label>
                <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_view_count }}'disabled>

            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLive3" tabindex="-1" aria-labelledby="exampleModalLiveLabe" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">Thêm Nội Dung Chủ Đề</h5>
          <button class="btn-close" id='close-modal-add-content' type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-4">
                <select class="form-select" aria-label="Default select example" id="add-video-text-content">
                    {% for iteam in folder %}
                        <option value="{{iteam.id}}">{{ iteam.folder_name }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input class="form-control" id='input-url-channel-folder' type="Url" placeholder="url video" aria-label="default input example">
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-primary" type="button" id="seach-url-channel">
                  <svg class="icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-zoom"></use>
                  </svg>
              </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="exampleFormControlTextarea1">Nội Dung Video</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height:400px" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="button" id="save-text-video-conent">Save changes</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modal-videos" tabindex="-1" aria-labelledby="exampleModalLiveLabe" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">ADD VIDEOS</h5>
          <button class="btn-close" id="close-modal-add-videos" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body g-3">
          <div class="mb-3">
            <div class="row">
              <div class="col-3">
                <label class="col-form-label">Số Video :</label>
              </div>
              <div class="col-3">
                <input class="form-control" type="number" id= "count-video" placeholder="nhập số lượng video" aria-label="First name" value='100'>
              </div>
              <div class="col">
                  <input class="form-control" type="date" placeholder="Last name" aria-label="Last name" id="date-Input" value="{{ current_time }}">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-3">
                <label class="col-form-label">Số Ký Tự :</label>
              </div>
              <div class="col-3">
                <input class="form-control" id="count-text-video" type="number" placeholder="Nhập Số Lượng Ký tự" aria-label="First name" value='4000'>
              </div>
              <div class="col">
                <input class="form-control"  id="input-time-add-video-render-upload" type="text" placeholder="Time Upload" aria-label="First name"  value="{{ profile.channel_time_upload }}">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
          <button class="btn btn-primary" id="create_video_news" type="button">Save changes</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal-infor-video" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content  h-75">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Nhập Thông Tin</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id='edit-content-froms'>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="col">
                <button class="btn btn-danger" id='button-back' style="width:150px;" type="button">Back</button>
                <button class="btn btn-danger" id='button-back-2' style="width:150px;" type="button">Back</button>
            </div>
            <div class="col-footer">
                <button class="btn btn-primary"  id="next-cread-image" style="width:150px;" type="button">Tiếp Tục</button>
                <button class="btn btn-primary" id="edit_video" style="width:150px;" type="button">Tiếp Tục</button>
                <button class="btn btn-primary" id="save-text-video" style="width:150px;" type="button">Lưu Video</button>
            </div>
        </div>
      </div>
    </div>
</div>

<div id="modal-overlay" class='modal' style="background-color: rgba(0, 0, 0, 0.5);">
    <div id="modal-image-content" class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content h-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">image Video</h5>
                <button class="btn-close close-modal-input-image"  type="button" aria-label="Close"></button>
            </div>
            <div class="modal-body" id='modal-input-image'>
            </div>
            <div class="modal-footer justify-content-center">
                <input type="hidden" id="iteam-edit" value="none">
                <button class="btn btn-primary col-1" id='check-delete-image' type="button">Bỏ Chọn</button>
                <button class="btn btn-info col-1" id='choice_image' type="button">Chọn</button>
                <button class="btn btn-danger col-1" id='delete-image' type="button">Xóa</button>
                <button class="btn btn-secondary col-1 close-modal-input-image" type="button">close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $('#folder_name').change(function(){
        var folder_name = $(this).val();
        $.ajax({
            url: "{% url 'home:load-channel' %}",
            type: "GET",
            data: {
                folder_name: folder_name
            },
            success: function(data){
                $('#channel_name').html(data.profile_html);
                sendProfileId(1);
            }
           
        });
    });

    $('#channel_name').change(function(){
        sendProfileId(1);
    });

    $(document).on('change', '#input-Thumnail', function() {

        // Lấy tệp hình ảnh đã chọn từ input file
        var file = $(this)[0].files[0];

        // Tạo một đối tượng FileReader để đọc tệp
        var reader = new FileReader();

        // Đặt hàm xử lý khi FileReader hoàn tất việc đọc tệp
        reader.onload = function(e) {
            // Cập nhật thuộc tính src của thẻ img để hiển thị hình ảnh
            $('#Image-Thumnail-infor-video').attr('src', e.target.result);
        }

        // Đọc tệp hình ảnh dưới dạng URL dữ liệu
        reader.readAsDataURL(file);
    });

    $("#button-back").click(function(){
        $('#input-infor-video').css('display', 'flex');
        $('#input-image-and-text').css('display', 'none');
        $('#save-text-video').css('display', 'none');
        $('#next-cread-image').css('display', 'block');
        $('#button-back').css('display', 'none');
        $('#button-back2').css('display', 'none');
        $('#edit_video').css('display', 'none');
    });


    $("#edit_video").click(function(){
        $('#edit_video').css('display', 'none');
        $('#input-image-and-text').css('display', 'none');
        $('#button-back').css('display', 'none');
        $('#edit_text_video').css('display', 'none');
        $('#button-back-2').css('display', 'block');
        update_text_edit();
    });


    function update_text_edit() {
        var text_video = $('#input-text-content').val();
        var id = $('#id-video-edit').val();
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: {
                text_video: text_video,
                id: id,
                action: 'update_text_video'
            },
            success: function(response) {
                if (response.success === true) {
                    $("#edit-iteam-video").empty();
                    $("#edit-iteam-video").html(response.content);
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
        
    }
    

    function sendProfileId(page) {
        if ($('#channel_name').val() === null) {
            $("#myTbody").empty();
            $("#page_bar").empty();
            return;
        }

        $.ajax({
            url: "{% url 'render:get_video_render' %}",
            type: 'GET',
            data: {
                profile_id: $('#channel_name').val(),
                page: page
            },
            success: function(response) {
                // Xóa nội dung của #myTbody và #page_bar
                $("#myTbody").empty();

                $("#page_bar").empty();

                $("#show-infor-profile").empty();

                // Cập nhật #myTbody với dữ liệu mới từ phản hồi
                $("#myTbody").html(response.video_html);
                
                // Cập nhật #page_bar với dữ liệu mới từ phản hồi
                $("#page_bar").html(response.page_bar_html);


                // Cập nhật #show-infor-profile với dữ liệu mới từ phản hồi
                $("#show-infor-profile").html(response.info_html);

                // Cập nhật #show-infor-profile với dữ liệu mới từ phản hồi
                $("#date-Input").val(response.current_time);

                // Cập nhật #input-time-add-video-render-upload với dữ liệu mới từ phản hồi
                $("#input-time-add-video-render-upload").val(response.channel_time_upload);
                
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    

    $('#save-text-video-conent').click(function(){
        var folder_id = $('#add-video-text-content').val();
        var url = $('#input-url-channel-folder').val();
        var content = $('#exampleFormControlTextarea1').val();
        if (folder_id === '') {
            alert('Chủ đề không được để trống');
            return;
        }

        if (url === '') {
            alert('Url không được để trống');
            return;
        }

        if (content === '') {
            alert('Nội dung không được để trống');
            return;
        }
        
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: {
                folder_id: folder_id,
                url: url,
                content: content,
                action: 'add_video_text_content'
            },
            success: function(response) {
                if (response.success == 'True') {
                    console.log(response);
                    
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $('#add-text-content').click(function(){
        $('#input-url-channel-folder').val('');
        $('#exampleFormControlTextarea1').val('');
    });


    $('#add-one-video').click(function(){
        input_edit_video('none');
        $("#save-text-video").css('display', 'none');
        $('#button-back').css('display', 'none');
        $('#next-cread-image').css('display', 'block');
        $('#edit_video').css('display', 'none');
        $('#button-back-2').css('display', 'none');
        
    });

    $('#edit_video').click(function(){
        $("#edit_video").css('display', 'none');
        $("#input-image-and-text").css('display', 'none');
        $('#button-back').css('display', 'none');
        $('#edit_text_video').css('display', 'block');
        $('#button-back-2').css('display', 'block');
        $('#save-text-video').css('display', 'block');

    });

    $('#button-back-2').click(function(){
        $('#edit_text_video').css('display', 'none');
        $('#input-image-and-text').css('display', 'block');
        $('#button-back').css('display', 'block');
        $('#edit_video').css('display', 'block');
        $('#button-back-2').css('display', 'none');
        $('#save-text-video').css('display', 'none');
    });

    function input_edit_video(id) {
        $.ajax({
            url: "{% url 'render:edit-video' %}",
            type: 'GET',
            data: {
                video_id: id,
            },
            success: function(response) {
                if (response.success === true) {
                    $('#edit-content-froms').html(response.edit_html);
                    show_count_text();
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    $('#create_video_news').click(function(){
        var folder_name = $('#folder_name').val();
        var channel_name = $('#channel_name').val();
        var count_video = $('#count-video').val();
        var count_text_video = $('#count-text-video').val();
        var date_upload = $('#date-Input').val();
        var time_upload = $('#input-time-add-video-render-upload').val();
        if (channel_name === null ){
            alert('Vui lòng chọn profile');
            $('#close-modal-add-videos').click();
            return;
        }
        if (count_video === '') {
            alert('Số video không được để trống');
            return;
        }

        if (count_text_video === '') {
            alert('Số ký tự không được để trống');
            return;
        }

        if (date_upload === '') {
            alert('Ngày không được để trống');
            return;
        }

        if (time_upload === '') {
            alert('Giờ không được để trống');
            return;
        }
        
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: {
                folder_name: folder_name,
                channel_name: channel_name,
                count_video: count_video,
                count_text_video: count_text_video,
                date_upload: date_upload,
                time_upload: time_upload,
                action: 'add_videos'
            },
            success: function(response) {
                if (response.success === true) { 
                    sendProfileId();
                    $('#close-modal-add-videos').click();
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $(document).on('click', '#next-cread-image', function() {
        var formData = new FormData();
        formData.append('folder_name', $('#folder_name').val());
        formData.append('channel_name', $('#channel_name').val());
        formData.append('input-title', $('#input-title').val());
        formData.append('input-description', $('#input-description').val());
        formData.append('input-keyword', $('#input-keyword').val());
        formData.append('input-date-upload', $('#input-date-upload').val());
        formData.append('input-time-upload', $('#input-time-upload').val());
        formData.append('input-text-content', $('#input-text-content').val());
        formData.append('id-video-edit', $('#id-video-edit').val());
        formData.append('action', 'add_one_video');
        var file = $('#input-Thumnail')[0].files[0];
        formData.append('input-Thumnail', file);
        if ($('#channel_name').val() === null ){
            alert('Vui lòng chọn profile');
            return;
        }

        var time_upload = $("#input-time-upload").val(); // Lấy giá trị thời gian từ input

        // Kiểm tra xem giá trị nhập vào có rỗng không
        if (time_upload === '') {
            alert('Giờ Load Không Được Để Trống');
            return;
        }

        var time_parts = time_upload.split(":");
        var minutes = parseInt(time_parts[1]); // Lấy số phút từ chuỗi thời gian

        if (![0, 15, 30, 45].includes(minutes)) {
            alert('Giờ Load Phải Là Một Trong Các Giá Trị: 0, 15, 30, 45');
            return;
        }
        $('#input-infor-video').css('display', 'none');
        $('#input-image-and-text').css('display', 'block');
        $('#save-text-video').css('display', 'block');
        $('#next-cread-image').css('display', 'none');
        $('#button-back').css('display', 'block');
        $('#button-back-2').css('display', 'none');
        $('#save-text-video').css('display', 'none');
        $('#edit_video').css('display', 'block');
        
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success === true) {
                    if ( $('#id-video-edit').val() === 'none') {
                        $('#id-video-edit').val(response.id);
                        sendProfileId();
                    }
                } else {
                    console.log(response);
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });


    $('#modal-overlay').click(function(event) {
        // Kiểm tra xem phần tử mà sự kiện được kích hoạt có phải là phần nền mờ không
        if (event.target === this) {
            // Phóng to modal một chút
            enlargeModal();
        }
    });

    // Hàm phóng to modal
    function enlargeModal() {
        var modalContent = $('#modal-image-content .modal-content');
        // Tăng kích thước modal
        modalContent.css('transform', 'scale(1.1)');
        modalContent.css('transition', 'transform 0.5s ease');

        // Sau 0.5 giây, thu nhỏ modal về kích thước ban đầu
        setTimeout(function() {
            modalContent.css('transform', 'scale(1)');
        }, 500);
    }

    $('.close-modal-input-image').click(function() {
        $('#modal-overlay').css('display', 'none');
    });

    
    $(document).on('click', '#open-input-image', function() {
        show_modal_image('none')
    });

    function show_modal_image(id) {
        $('#iteam-edit').val(id);
        $("#modal-input-image").empty();
        var formData = new FormData();
        formData.append('id-video-render', $('#id-video-edit').val());
        formData.append('action', 'get-image-video');

        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success === true) {
                    $('#modal-input-image').html(response.image_html);
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
        $('#modal-overlay').css('display', 'block');
    }

    $(document).on('change', '#input-image', function() {
        var files = $(this)[0].files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var newCol = $('<div class="col" data-toggle="tick-icon"></div>');
            var newCard = $('<div class="card border-success p-1 enlarge-on-hover" style="height: 150px; width: 150px;"></div>');
            var newTickIcon = $('<div class="tick-icon"></div>');
            var newImage = $('<img class="card-img-top file-image-url" style="height:90px;" src="/static/assets/img/Animation.gif" alt="">');
            var newProgress = $('<div class="progress progress-thin my-2" style="height:5px;"></div>');
            var newProgressBar = $('<div class="progress-bar bg-success" role="progressbar" style="width:0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>');
            var newSmall = $('<ul class="nav justify-content-center file-image">Đang upload ...</ul>');

            newTickIcon.append('<svg class="icon p-2" style="height: 50px; width: 50px;color: aqua;"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chevron-circle-down-alt"></use></svg>');
            newProgress.append(newProgressBar);
            newCard.append(newImage, newTickIcon, newProgress, newSmall);
            newCol.append(newCard);

            $('.row.row-cols-1.row-cols-md-6.g-3.justify-content-center').prepend(newCol);

            (function(newImage, newSmall, newProgressBar) { // Sử dụng hàm vô danh để bảo vệ giá trị
                var formData = new FormData();
                formData.append('file', file);
                formData.append('id-video-render', $('#id-video-edit').val());
                formData.append('action', 'add-image-video');
                

                var xhr = new XMLHttpRequest();

                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success === true) {
                            newImage.attr('src', response.url);
                            var name = truncateMiddle(response.name);
                            newSmall.text(name);

                        } else {
                            console.error('File upload failed.');
                        }
                    } else {
                        console.error('File upload failed.');
                    }
                };

                xhr.upload.onprogress = function(event) {
                    if (event.lengthComputable) {
                        var percentComplete = (event.loaded / event.total) * 100;
                        newProgressBar.css('width', percentComplete + '%');
                        newSmall.text('Đang upload ' + percentComplete.toFixed(0) + '%');
                    }
                };
                xhr.open('POST', '{% url "render:home" %}', true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('[name=csrfmiddlewaretoken]').value);
                xhr.send(formData);
            })(newImage, newSmall, newProgressBar);
        }
        $('#input-click-image').prependTo('.row.row-cols-1.row-cols-md-6.g-3.justify-content-center');
    });
    
    function truncateMiddle(text) {
        if (text.length <= 11) {
            return text;
        }
        return text.substring(0, 5) + '...' + text.substring(text.length - 6);
    }

    $(document).on('click', '[data-toggle="tick-icon"]', function() {
        // Ẩn tất cả các tick-icon cùng cấp
        $(this).siblings().find('.tick-icon').hide();
        // Hiển thị tick-icon trong cột được click
        $(this).find('.tick-icon').show();
    });

    $(document).on('click', '#check-delete-image', function(){
        // Xóa tất cả các cột đã chọn
        $('[data-toggle="tick-icon"]').siblings().find('.tick-icon').hide();
    });

    $('#delete-image').click(function() {
        // Xóa tất cả các cột chứa ảnh được chọn
        $('[data-toggle="tick-icon"]').each(function() {
            if ($(this).find('.tick-icon').css('display') !== 'none') {
                $(this).remove();
                var imageUrl = $(this).find('.file-image-url').attr('src');
                if (imageUrl === '/static/assets/img/Animation.gif') {
                    return;
                }
                var formData = new FormData();

                formData.append('image_url', imageUrl);
                formData.append('action', 'delete-image-video');
                formData.append('id-video-render', $('#id-video-edit').val());
                $.ajax({
                    url: "{% url 'render:home' %}",
                    type: 'POST',
                    headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success === true) {
                            console.log(response);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

            }
        });
    });

    function subRegex(e, t) {
        var n = new RegExp("" + t,"m");
        if (e.match(n))
            for (e = e.replace(n, "$1\n\n$2"); e.match(n); )
                e = e.replace(n, "$1\n\n$2");
        return e;
    }
    
    function splitText(){
        var text_content = $('#input-text-content').val();
        var regexPattern = $('#splitText').val();
        var result = subRegex(text_content, regexPattern);
        $('#input-text-content').val(result);
        show_count_text();
    }

    function splitText2(){
        var text_content = $('#input-text-content').val();
        var char = $('#splitText2').val();
        var regexPattern = `(^.{0,100000}[${char}](?!$))(.{0,105000}$)`;

        var result = subRegex(text_content, regexPattern);

        var lines = result.split('\n\n');
        var lineCount = lines.filter(function(line) {
            return line.trim() !== ''; // Loại bỏ các dòng trống
        });
        $('#input-text-content').val(lineCount.join('\n\n'));
        show_count_text();
    }

    function deletesplitText() {
        var text_content = $('#input-text-content').val();
        var char = $('#splitText3').val();
        var regexPattern = new RegExp(`[${char}]`, 'g'); 
        var result = text_content.replace(regexPattern, ""); 
        $('#input-text-content').val(result);
    }
    
    $(document).on('input', '#input-text-content', function(){
        show_count_text()
    });

    function show_count_text(){
        var text_content = $('#input-text-content').val();
        var count_text = text_content.length;
        
        // Đếm số dòng
        var lines = text_content.split('\n\n');
        var lineCount = lines.filter(function(line) {
            return line.trim() !== ''; // Loại bỏ các dòng trống
        });
    
        $('#count-text-content').text('Số Ký Tự ' + count_text + ' --- Số Dòng ' + lineCount.length);
    }

    $(document).on('click', '#save-text-video', function(){
        var formData = new FormData();
        formData.append('text-content', $('#input-text-content').val());
        formData.append('id-video-edit', $('#id-video-edit').val());
        formData.append('input-title', $('#input-title').val());
        formData.append('input-description', $('#input-description').val());
        formData.append('input-keyword', $('#input-keyword').val());
        formData.append('input-date-upload', $('#input-date-upload').val());
        formData.append('input-time-upload', $('#input-time-upload').val());
        var file = $('#input-Thumnail')[0].files[0];
        formData.append('input-Thumnail', file);
        formData.append('action', 'save-text-video');

        var json_text = [];
        $('.iteam-text-video').each(function(index) {
            var id = $(this).find('.iteam-id').data('id');
            var text = $(this).find('.iteam-text').text();
            var url_video = $(this).find('.iteam-video-content').attr('src'); 
            url_video = (url_video === "/static/assets/img/no-image-available.png") ? "" : url_video;
            json_text[index] = {
                id: id,
                text: text,
                url_video: url_video
            };
        });
                
        formData.append('json_text', JSON.stringify(json_text));

        $('#modal-infor-video').modal('hide');
        
        if (file) {
            // Ẩn modal nếu cần
            $('#modal-infor-video').modal('hide');

            // Tìm phần tử img với data-id bằng giá trị của #id-video-edit
            var imgElement = $('img.id-thumbnail-video[data-id="' + $('#id-video-edit').val() + '"]');
            
            var reader = new FileReader();

            // Đặt hàm xử lý khi FileReader hoàn tất việc đọc tệp
            reader.onload = function(e) {
                // Cập nhật thuộc tính src của thẻ img để hiển thị hình ảnh
                imgElement.attr('src', e.target.result);
                // Cập nhật thuộc tính src của thẻ img khác (nếu có)
                $('#Image-Thumnail-infor-video').attr('src', e.target.result);
            }

            // Đọc tệp hình ảnh dưới dạng URL dữ liệu
            reader.readAsDataURL(file);
        }

       
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success === true) {
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });


    $(document).on('click', '.btn-delete', function() {
        var id = $(this).data('id'); 
        $('tr.align-middle[data-id="' + id + '"]').remove(); 
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: {
                id: id,
                action: 'delete-video'
            },
            success: function(response) {
                if (response.success === true) {
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $(document).on('click', '.btn-edit', function() {
        var id = $(this).data('id'); 
        input_edit_video(id);
        $("#save-text-video").css('display', 'none');
        $('#button-back').css('display', 'none');
        $('#next-cread-image').css('display', 'block');
        $('#button-back-2').css('display', 'none');
        $('#edit_video').css('display', 'none');
    });

    $(document).on('click', '.btn-render', function() {
        var $button = $(this);
        var id_video = $button.data('id');

        // Đổi biểu tượng
        //$button.find('use').attr('xlink:href', '/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-pause');

        // Tạo FormData
        var formData = new FormData();
        formData.append('id_video', id_video);
        formData.append('action', 'render-video');

        // Gửi AJAX request
        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
            },
            error: function(error) {
                console.log(error);
            }
        });
    });


    $(document).on('click', '.iteam-video-content', function() {
        var id = $(this).data('id');
        show_modal_image(id)
    });


    $('#choice_image').click(function() {
        var id = $('#iteam-edit').val();
        if (id === 'none') {
            return;
        }
        var image_url = $('.tick-icon:visible').siblings('.file-image-url').attr('src');

        if (image_url === undefined) {
            alert('Vui lòng chọn ảnh');
            return;
        }
        $('img.iteam-video-content[data-id="' + id + '"]').attr('src', image_url);
        $('#modal-overlay').css('display', 'none');
    });

    $(document).on('click','#random-image',function() {

        var rowCount = $('tr.iteam-text-video').length;
        var count_image = $('#count-image-video').val();
        var id_video = $('#id-video-edit').val();
        var formData = new FormData();
        formData.append('rowCount', rowCount);
        formData.append('count_image', count_image);
        formData.append('id_video', id_video);
        formData.append('action', 'random-image');

        $.ajax({
            url: "{% url 'render:home' %}",
            type: 'POST',
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success === true) {
                    updateImages(response.layer_contents);
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    function updateImages(layer_contents) {
        // Assuming `layer_contents` is an array of new image URLs
        $('.iteam-text-video').each(function(index) {
            var newImageUrl = layer_contents[index];
            if (newImageUrl) {
                $(this).find('img.iteam-video-content').attr('src', newImageUrl);
            }
        });
    }

    $(document).on('click', '.pagination .page-link', function(e){
        $("#myTbody").empty();
        $("#page_bar").empty();
        e.preventDefault();
        var url = $(this).attr('href');
        page = url.split('page=')[1];
        sendProfileId(page);
    });
</script>
<script>
    var gourp_id = $('#channel_name').val();
    var socket = new WebSocket('ws://' + window.location.host + '/ws/update/' + gourp_id + '/');
    
    socket.onopen = function() {
        console.log("WebSocket is open now.");
    };

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log("Received message:", data);

        // Lấy tất cả các phần tử có lớp align-middle
        var allElements = document.getElementsByClassName('align-middle');

        // Duyệt qua các phần tử trong danh sách nhỏ
        for (var i = 0; i < allElements.length; i++) {
            var elementId = allElements[i].getAttribute('data-id');
            console.log("Element data-id:", elementId);
            for (var j = 0; j < data.length; j++) {
                if (data[j].id == elementId) {
                    console.log("Matching data:", data[j]);
                    // Ví dụ: Cập nhật nội dung của phần tử
                    allElements[i].querySelector('.id-title-video').innerText = data[j].title;
                    allElements[i].querySelector('.id-thumbnail-video').innerText = data[j].url_thumbnail;
                    allElements[i].querySelector('.status-video').innerText = data[j].status;
                    allElements[i].querySelector('.time-upload-video').innerText = "Ngày Upload " + data[j].date_upload + " Giờ Upload " + data[j].time_upload;
                }
            }
        }
    };

    socket.onclose = function() {
        console.log("WebSocket is closed now.");
    };

    socket.onerror = function(error) {
        console.log("WebSocket error:", error);
    };

    console.log(socket);
</script>


{% comment %} <script>
    var gourp_id = $('#channel_name').val();
    var socket = new WebSocket('ws://' + window.location.host + '/ws/update/' + gourp_id + '/');
    socket.onopen = function() {
        console.log("WebSocket is open now.");
    };

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log("Received message:", data);

        // Lấy tất cả các phần tử có lớp align-middle
        var all_id = document.getElementsByClassName('align-middle');

        // Duyệt qua các phần tử trong danh sách nhỏ
        for (var i = 0; i < all_id.length; i++) {
            var elementId = all_id[i].getAttribute('data-id');
            console.log("Element data-id:", elementId);
            for (var j = 0; j < data.length; j++) {
                if (data[j].id == elementId) {
                    console.log("Matching data:", data[j]);
                    // Ví dụ: Cập nhật nội dung của phần tử
                    all_id[i].querySelector('.id-title-video').innerText = data[j].title;
                    all_id[i].querySelector('.id-thumbnail-video').innerText = data[j].url_thumbnail;
                    all_id[i].querySelector('.status-video').innerText = data[j].status;
                    all_id[i].querySelector('.time-upload-video').innerText = "Ngày Upload " + data[j].date_upload + " Giờ Upload " + data[j].time_upload;
                    
                }
            }
        }
    };

    socket.onclose = function() {
        console.log("WebSocket is closed now.");
    };

    socket.onerror = function(error) {
        console.log("WebSocket error:", error);
    };
    console.log(socket);
</script> {% endcomment %}

{% endblock javascripts %}


