<div class="mb-3">
    <label class="form-label" for="exampleFormControlInput1">Email address</label>
    <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_email_login }}' disabled>
</div>
<div class="mb-3">
    <label class="form-label" for="exampleFormControlInput1">Link Channel</label>
    <input class="form-control" id="exampleFormControlInput1"  value='{{ profile.channel_url }}'  disabled>
</div>
<div class="mb-3">
    <label class="form-label" for="exampleFormControlInput1">IP Vps Upload</label>
    <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_vps_upload }}' disabled>
</div>
<div class="mb-3">
    <label class="form-label" for="exampleFormControlInput1">Số Tiền Hiện Trên Kênh</label>
    <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_money }}'disabled>
</div>
<div class="mb-3">
    <label class="form-label" for="exampleFormControlInput1">Views 48h/Kênh</label>
    <input class="form-control" id="exampleFormControlInput1" value='{{ profile.channel_view_count }}'disabled>
</div>