{% for item in page_obj %}
    {% if item.videoRender_id%}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="col-1 text-center">{{ item.videoRender_id.name_video }}</td>
            <td  class="col">{{ item.videoRender_id.title }}</td>
        </tr>
    {% else %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="col-1 text-center">None</td>
            <td  class="col text-center">Đã Xóa</td>
        </tr>
    {% endif %}
{% endfor %}

