<thead  class="col text-center">
    <tr>
        <th scope="col" class="col text-center">#</th>
        <th scope="col" class="col text-center">USE</th>
        <th scope="col" class="col text-center">COUNT VIDEO</th>
        <th scope="col" class="col text-center">COUNT THUMNAIL</th>
        <th scope="col" class="col text-center">COUNT TITTLE</th>
    </tr>
</thead>
<tbody class="col text-center">
    {% for item in data %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <th class="col text-center">
                <label>{{ item.user.username }}</label>
            </th>
            <td class="col text-center">
                <label class="bg-success btn-sm" style='width:100px;'>{{ item.cread_video }}</label>
            </td>

            <td class="col text-center">
                <label class="btn bg-warning btn-sm" style='width:100px;'>{{ item.edit_thumnail }}</label>
                <button class="btn btn-info btn-sm show-thumnail" style='width:100px;' type="button" data-id="{{ item.user.id }}" data-coreui-toggle="modal" data-coreui-target="#exampleModalCenteredScrollable">Xem</button>
            </td>

            <td class="col text-center">
                <label class="btn bg-danger btn-sm" style='width:100px;'>{{ item.edit_title }} </label>
                <button class="btn btn-info btn-sm show-title" style='width:100px;' type="button" data-id="{{ item.user.id }}" data-coreui-toggle="modal" data-coreui-target="#exept">Xem</button>
            </td>
        </tr>
    {% endfor %}
</tbody>