{% for iteam in page_obj %}
    <div class="col" data-toggle="tick-icon">
        <div class="card border-success p-1" style="height: 230px; width: 360px;">
            {% if iteam.videoRender_id.url_thumbnail %}
                <img class="card-img-top file-image-url" style="height:200px;" src="{{ iteam.videoRender_id.url_thumbnail }}" alt="">
                <label class="nav justify-content-center">{{ iteam.videoRender_id.name_video }}</label>
            {% else %}
                <img class="card-img-top file-image-url" style="height:200px;" src="/static/assets/img/no-image-available.png" alt="">
                <label class="nav justify-content-center">Ảnh Đã Bị Xóa</label>
            {% endif %}
        </div>
    </div>
{% endfor %}
