{% if request.user.is_editor or request.user.is_superuser%}
    {% for object in page_obj %}
        <tr class="align-middle" data-id="{{ object.id }}">
            <td class="col-auto gap-0" style="width:40px; padding-left:1rem;">
                <label class="col-form-label"> {{ object.id }}</label>
            </td>
            <th class="col-auto">
                <img  class="id-thumbnail-video" data-id="{{object.id}}" src="{% if object.url_thumbnail %}{{ object.url_thumbnail }}{% else %}/static/assets/img/no-image-available.png{% endif %}" style="height: 75px; width:133px; border-radius: 5px; border: 2px solid rgb(255, 132, 0);">
            </th>

            <td class="col">
                <label class="col-form-label id-title-video" data-id="{{object.id}}"> {{ object.title }}</label>
                <div>
                    <button class="btn btn-outline-primary" type="button" data-id="{{ object.id }}">
                        <svg class="icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-airplay"></use>
                        </svg>
                    </button>
                    <button class="btn btn-outline-primary btn-edit" type="button" data-id="{{ object.id }}" data-coreui-toggle="modal" data-coreui-target="#modal-infor-video">
                        <svg class="icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                        </svg>
                    </button>
                    <button class="btn btn-outline-primary btn-render" type="button" data-id="{{ object.id }}">
                        {% if 'Đang chờ render video!' in object.status_video  or 'Đang Render' in object.status_video %}
                            <svg class="icon">
                                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-pause"></use>
                            </svg>
                        {% else %}
                            <svg class="icon">
                                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                            </svg>
                        {% endif %}
                    </button>
                    <button class="btn btn-outline-primary" type="button" data-id="{{ object.id }}">
                        <svg class="icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-reload"></use>
                        </svg>
                    </button>
                    <button class="btn btn-outline-primary" type="button" data-id="{{ object.id }}">
                        <svg class="icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-thick-from-bottom"></use>
                        </svg>
                    </button>
                    <button class="btn btn-outline-primary btn-delete" type="button" data-id="{{ object.id }}">
                        <svg class="icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                        </svg>
                    </button>
                    <label class="col-form-label time-upload-video"> Ngày Upload {{ object.date_upload }} Giờ Upload {{ object.time_upload}}</label>
                </div>
            </td>
            <td class="col text-center">
                <div class="col-form-label status-video" data-id="{{object.id}}">{{ object.status_video }}</div>
            </td>
            <td class="col text-center">
                <div class="col-form-label">{{ object.name_video }}</div>
            </td>
            <td class="col text-center">
                <label class="col-form-label">{{ object.timenow }}</label>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <h1>Vui Lòng Liên Hệ Admin Kích Hoạt Tài Khoản</h1>
{% endif %}