
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    {% csrf_token %}
                    <label class="form-label" for="formFile">Forder</label>
                    <div class="input-group">
                        {{ form.voice }}
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalLiveAddFolder">Button</button>
                    </div>

                    <div class="modal fade" id="exampleModalLiveAddFolder" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLiveLabel">Folder</h5>
                                    <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-0">
                                        <div class="row">
                                            <div class="col">
                                                {{ form.input_folder}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" id="closeModalButton" data-coreui-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit" name="action" value="save">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="formFile">Profile Channel</label>
                    <div class="input-group">
                        {{ form.style}}
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalLiveProfileChannel">Button</button>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Intro</label>
                    <div class="input-group mb-3">

                        <div class="input-group-text">
                            {{ form.is_intro}}
                        </div>

                        {{ form.url_intro}}
                        
                        {{ form.input_intro_file}}
                        
                        <button class="btn btn-outline-secondary" id="button-open-intro" type="button">...</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Outro</label>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            {{ form.is_outro}}
                        </div>
                        {{ form.url_outro}}
                        {{ form.input_outro_file}}
                        <button class="btn btn-outline-secondary"  id="button-open-outro"  type="button">...</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="formFile">Logo</label>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            {{ form.is_logo }}
                        </div>

                        {{ form.url_logo}}
                       
                        {{ form.input_logo_file}}

                        <button class="btn btn-outline-secondary" id="button-open-logo" type="button">...</button>
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalXlLogoProfile">Cài Đặt</button>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="formFile">Font Chữ</label>
                    <div class="input-group mb-3">
                        {{ form.font_text}}
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalXlFontText">Cài Đặt</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="formFile">Giọng Đọc</label>
                    <div class="input-group mb-3">
                        {{ form.voice_language}}
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalXlVoiceProfile">Cài Đặt</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Tiêu ĐỀ</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlTextarea1">Mô Tả</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Từ Khóa</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Time Upload Channel</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Url Channel</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Email Channel</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">IP VPS</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
                </div>
                <div class="mb-3 ">
                    <button class="btn btn-primary col form-control" type="button">Lưu Cấu Hình</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalLiveProfileChannel" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Profile Channel</h5>
                    <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                {{ form.input_profile_channel}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="add-profile" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalXlLogoProfile" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title h4" id="exampleModalXlLabel">CÀI ĐẶT LOGO</h5>
              <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-3">
                    {% for radio in form.logo_position %}
                        <div class="form-check">
                            {{ radio.tag }}
                            <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-9">
                    <div class="video-container" style="position: relative; width: 568px; height: 320px; border: 1px solid red;">
                        <img src="https://img.freepik.com/free-vector/gradient-quill-pen-logo-with-tagline-template_23-2149813051.jpg" class="logo"alt="Logo Right" style="position: absolute; top: 10px; right: 10px; width: 80px;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="add-profile" type="button">Save changes</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalXlFontText" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">CÀI ĐẶT Subtitle</h5>
                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <div style="position: relative; border: 1px solid red; height: 200px; overflow: hidden; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">                            
                            <div style="width: 100%; height: 100%;  text-align: center;">
                                <div  id="Subtitle" style="">
                                    <span id="text-Subtitle">{{text_subtitle}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Font Chữ</label>
                                {{ form.font_text_setting}}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Size Chữ</label>
                                {{ form.size_Subtitle}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                {{ form.font_bold}}
                                <label class="form-check-label" for="inlineCheckbox1">Bold</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline ">
                                {{ form.font_italic}}
                                <label class="form-check-label" for="inlineCheckbox1">Italic</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline ">
                                {{ form.font_underline}}
                                <label class="form-check-label" for="inlineCheckbox1">Underline</label>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="form-check form-check-inline">
                                {{ form.font_strikeout}}
                                <label class="form-check-label" for="inlineCheckbox1">Strikeout</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Màu Chữ</span>
                                {{ form.color_text}}
                                {{ form.opacity_color_text}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Viền Chữ</span>
                                {{ form.color_text_border}}
                                {{ form.opacity_color_text_border}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nền Chữ</span>
                                {{ form.background_color}}
                                {{ form.opacity_background_color}}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="mb-3 row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">VIỀN CHỮ</span>
                                    {{ form.border_color}}
                                </div>  
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Bóng Đổ</span>
                                    <input type="number" id="inputGroupSelect02" class="form-control" value="100" min="1" max="100" step="0.1">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Giãn Từ</span>
                                    <input type="number" id="inputGroupSelect03" class="form-control" value="100" min="0" max="100" step="0.1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="exampleFormControlTextarea1">Văn Bản</label>
                        <textarea id="form-text-Subtitle" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="add-profile" type="button">Save changes</button>
                </div>
            </div>
           
        </div>
    </div>

    <div class="modal fade" id="exampleModalXlVoiceProfile" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">CÀI ĐẶT GIỌNG ĐỌC</h5>
                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Giọng Đọc</label>
                                {{ form.voice_language}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">styles giọng đọc</label>
                                {{ form.Voice_styler}}
                            </div>
                        </div>
                    </div>



                    <label class="form-label" for="customRange1">SPEED</label>
                    <input class="form-range" id="customRange1" type="range">
                    <label class="form-label" for="customRange1">PITCH</label>
                    <input class="form-range" id="customRange1" type="range">
                    <label class="form-label" for="customRange1">TONE</label>
                    <input class="form-range" id="customRange1" type="range">
                    <div class="mb-3">
                        <label class="form-label" for="exampleFormControlTextarea1">Văn Bản</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="add-profile" type="button">NGHE THỬ</button>
                    <button class="btn btn-primary" id="add-profile" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}


<script>
    $(document).ready(function(){

        $('#folder_name').change(function(){
            if ($('#folder_name').val() != '' && $('#channel_name').val() != '') {
                show_infor_video();
            }
        });
    
        $('#channel_name').change(function(){
            if ($('#folder_name').val() != '' && $('#channel_name').val() != '') {
                show_infor_video();
            }
        });
    
        function show_infor_video(){
            if ($('#folder_name').val() != '' && $('#channel_name').val() != '') {
                var channel_name = $('#channel_name').val();
    
                console.log(folder_name, channel_name);
    
                // Make a POST request
                $.ajax({
                    type: "GET",
                    url: "/load-channel/",  // Replace with your endpoint URL
                    data: {
                        folder_name: folder_name,
                        channel_name: channel_name
                    },
                    success: function(response){
                        show_infor(response);
                    },
                    error: function(xhr, status, error){
                        // Handle errors here
                        console.error(xhr.responseText);
                    }
                });
            }
        }
    });
</script>

{% endblock javascripts %}

