{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
{% endblock stylesheets %}

{% block content %}
<div class="card">
    {% csrf_token %}
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <input class="btn-check col" id="success-outlined" type="radio" name="options-outlined" autocomplete="off" {% if content %}checked{% endif %}>
                    <label class="btn btn-outline-success col" for="success-outlined">Content</label>
                    
                    <input class="btn-check col" id="danger-outlined" type="radio" name="options-outlined" autocomplete="off" {% if not content %}checked{% endif %}>
                    <label class="btn btn-outline-danger col" for="danger-outlined">Reup-Video</label>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="formFile">Forder</label>
                    <div class="input-group">
                        <select name="folder_name" id="folder_name" class="form-select">
                            {% if folders %}
                                {% for folder in folders %}
                                    <option value="{{ folder.id }}">{{ folder.folder_name }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">---------</option>
                            {% endif %}
                        </select>
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalLiveAddFolder">Button</button>
                    </div>
                    <!-- setting  Forder -->
                    <div class="modal fade" id="exampleModalLiveAddFolder" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLiveLabel">ADD Forder</h5>
                                    <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label" for="formFile">Folder</label>
                                                <select id="folder_setting" class="form-select">
                                                    {% if folders %}
                                                        {% for folder in folders %}
                                                            <option value="{{folder.id}}">{{folder.folder_name}}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        <option value="">---------</option>
                                                    {% endif %}
                                                </select>
                                                
                                                <label class="form-label" for="formFile">Văn Bản</label>
                                                <input id="input_folder_name" class="form-control" type="text" placeholder="Nhập tên folder">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary col"  id="folder-delete">Forder Delete</button>
                                    <button class="btn btn-primary col"  id="folder-update">Forder Update</button>
                                    <button class="btn btn-primary col"  id="folder-add">Forder Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- setting  Profile -->
                <div class="mb-3">
                    <label class="form-label" for="formFile">Profile Channel</label>
                    <div class="input-group">
                        <select name="channel_name" id="channel_name" class="form-select">
                            {% if profiles %}
                                {% for profile in profiles %}
                                    <option value="{{ profile.id }}">{{ profile.channel_name }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">---------</option>
                            {% endif %}
                        </select>
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalLiveProfileChannel">Button</button>
                    </div>

                    <div class="modal fade" id="exampleModalLiveProfileChannel" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLiveLabel">Profile Channel</h5>
                                    <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label" for="formFile">Folder</label>
                                                <select name="channel_folder_name_setting" id="channel_folder_name_setting" class="form-select">
                                                    {% if profiles %}
                                                        {% for profile in profiles %}
                                                            <option value="{{ profile.id }}">{{ profile.channel_name }}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        <option value="">---------</option>
                                                    {% endif %}
                                                </select>
                                                <label class="form-label" for="formFile">Văn Bản</label>
                                                <input id="input_profile_name" class="form-control" type="text" placeholder="Nhập tên folder">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary col" id="profile-delete">Channel Delete</button>
                                    <button class="btn btn-primary col" id="profile-update">Channel Update</button>
                                    <button class="btn btn-primary col" id="profile-add">Channel Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- setting  intro -->
                <div class="mb-3">
                    <label class="form-label">Intro</label>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input type="checkbox" name="channel_intro_active" id="channel_intro_active" class="form-check-input mt-0">
                        </div>
                        <input type="url" name="channel_intro_url" id="channel_intro_url" class="form-control" readonly="readonly">
                        <input type="file" name="channel_intro_input_file" id="channel_intro_input_file" class="form-control" aria-describedby="inputGroupFileAddon03" aria-label="Upload" accept="video/mp4">
                        <button class="btn btn-outline-secondary" id="button-open-intro" type="button">...</button>
                    </div>
                </div>

                <!-- setting  outro -->

                <div class="mb-3">
                    <label class="form-label">Outro</label>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input type="checkbox" name="channel_intro_active" id="channel_intro_active" class="form-check-input mt-0">
                        </div>
                        <input type="url" name="channel_intro_url" id="channel_intro_url" class="form-control" readonly="readonly">
                        <input type="file" name="channel_intro_input_file" id="channel_intro_input_file" class="form-control" aria-describedby="inputGroupFileAddon03" aria-label="Upload" accept="video/mp4">
                        <button class="btn btn-outline-secondary" id="button-open-intro" type="button">...</button>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="formFile">Logo</label>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input type="checkbox" name="channel_logo_active" id="channel_logo_active" class="form-check-input mt-0">
                        </div>
                        <input type="url" name="channel_logo_url" id="channel_logo_url" class="form-control" readonly="readonly">
                        <input type="file" name="channel_logo_input_file" id="channel_logo_input_file" class="form-control" aria-describedby="inputGroupFileAddon03" aria-label="Upload" accept="image/*">
                        <button class="btn btn-outline-secondary" id="button-open-logo" type="button">...</button>
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalXlLogoProfile">Cài Đặt</button>
                    </div>

                    <div class="modal fade" id="exampleModalXlLogoProfile" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title h4" id="exampleModalXlLabel">CÀI ĐẶT LOGO</h5>
                                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-3">
                                    
                                        <div class="form-check">
                                            <input type="radio" name="channel_logo_position" value="left" class="form-check-input" id="id_channel_logo_position_0" checked="">
                                            <label class="form-check-label" for="id_channel_logo_position_0">
                                                Bên Trái
                                            </label>
                                        </div>
                                    
                                        <div class="form-check">
                                            <input type="radio" name="channel_logo_position" value="right" class="form-check-input" id="id_channel_logo_position_1" >
                                            <label class="form-check-label" for="id_channel_logo_position_1">
                                                Bên Phải
                                            </label>
                                        </div>
                                    
                                </div>

                                <div class="col-9">
                                    <div class="video-container" style="position: relative; width: 568px; height: 320px; border: 1px solid red;">
                                        <img src="https://img.freepik.com/free-vector/gradient-quill-pen-logo-with-tagline-template_23-2149813051.jpg" class="logo" alt="Logo Right" style="position: absolute; top: 10px; right: 10px; width: 80px;">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" name="action" value="logo-setting">Save changes</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- setting  Subtitle -->
                <div class="mb-3">
                    <label class="form-label" for="formFile">Font Chữ</label>
                    <div class="input-group mb-3">
                        <select name="channel_font_text" id="channel_font_text" class="form-select">
                            {% for font in fonts %}
                                <option value="{{ font.id }}" {% if profilesFirst and font.id == profilesFirst.channel_font_text.id %}selected{% endif %}>
                                    {{ font.font_language }}-{{ font.font_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalXlFontText">Cài Đặt</button>
                    </div>
                    <div class="modal fade" id="exampleModalXlFontText" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title h4" id="exampleModalXlLabel">CÀI ĐẶT Subtitle</h5>
                                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-12 mb-3">
                                        <div style="position: relative; border: 1px solid red;  height: 200px; overflow: hidden; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">                            
                                            <div style=" width: 100%; height: 100%;  text-align: center;  color: rgb(255, 0, 106); ">
                                                <div  id="Subtitle" style="font-size: 10px;">
                                                    <span id="text-Subtitle" style=" background:red;">{{ form.channel_subtitle_text.value|default:"Đây Là Phụ Đề Của Video" }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-9">
                                            <div class="input-group mb-3">
                                                <label class="input-group-text" for="inputGroupSelect01">Font Chữ</label>
                                                <select name="channel_font_text_2" id="channel_font_text_setting_2" class="form-select">
                                                    {% for font in fonts%}
                                                        <option value="{{ font.id}}">{{font.font_language}}-{{font.font_name}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group mb-3">

                                                <label class="input-group-text" for="inputGroupSelect01">Size Chữ</label>
                                                <input type="number" id="channel_font_size" class="form-control" min="0" max="100" value="30">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" id="channel_font_bold"class="form-check-input">
                                                <label class="form-check-label" for="inlineCheckbox1">Bold</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check form-check-inline ">
                                                <input type="checkbox" id="channel_font_italic" class="form-check-input">

                                                <label class="form-check-label" for="inlineCheckbox1">Italic</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check form-check-inline ">
                                                <input type="checkbox" id="channel_font_underline" class="form-check-input">
                                                <label class="form-check-label" for="inlineCheckbox1">Underline</label>
                                            </div>
                                        </div>
                                        <div class="col ">
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" id="channel_font_strikeout" class="form-check-input">
                                                <label class="form-check-label" for="inlineCheckbox1">Strikeout</label>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="mb-3 row">
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Màu Chữ</span>
                                                <input type="color" id="channel_font_color" class="form-control form-control-color" value="#563d7c">
                                                <input type="number" id="channel_font_color_opacity" class="form-control" min="0" max="100" value="100">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Viền Chữ</span>
                                                <input type="color" id="channel_font_color_troke" class="form-control form-control-color" value="#563d7c">
                                                <input type="number" id="channel_font_color_troke_opacity" class="form-control" min="0" max="100" value="100">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Nền Chữ</span>
                                                <input type="color" id="channel_font_background" class="form-control form-control-color" value="#563d7c">
                                                <input type="number" id="channel_font_background_opacity" class="form-control" min="0" max="100" value="100">
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">VIỀN CHỮ</span>
                                                    <input type="number" id="channel_stroke_text" class="form-control" min="0" max="100" value="1" step="0.1">
                                                </div>  
                                            </div>
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Bóng Đổ</span>
                                                    <input type="number" id="inputGroupSelect02" class="form-control" value="100" min="1" max="100" step="0.1">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Giãn Từ</span>
                                                    <input type="number" id="inputGroupSelect03" class="form-control" value="100" min="0" max="100" step="0.1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="channel_font_subtitle">Văn Bản</label>
                                        <textarea id="channel_font_subtitle" class="form-control" placeholder="Nhập subtitle" rows="3"></textarea>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" id="save-fontext">Save changes</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <!-- Giọng Đọc -->
                <div class="mb-3">
                    <label class="form-label" for="formFile">Giọng Đọc</label>
                    <div class="input-group mb-3">
                        <select name="channel_voice" id="channel_voice" class="form-control">
                            {% for voice in folder_voice %}
                                <option value="{{ voice.id }}" {% if profilesFirst and voice.id == profilesFirst.channel_voice_style.id %}selected{% endif %}>{{ voice.name }}</option>
                            {% endfor %}
                            </select>
                        <button class="btn btn-primary" type="button" data-coreui-toggle="modal" data-coreui-target="#exampleModalXlVoiceProfile">Cài Đặt</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="channel_title">TIÊU ĐỀ</label>
                    <input type="text" name="channel_title" id="channel_title" class="form-control" placeholder="Nhập title">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="channel_description">Mô Tả</label>
                    <textarea name="channel_description" cols="40" rows="3" id="channel_description" class="form-control" placeholder="Nhập description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="channel_keyword">Từ Khóa</label>
                    <input type="text" name="channel_keywords" id="channel_keywords" class="form-control" placeholder="Nhập keywords">
                </div>
                <div class="mb-3">
                    
                    <label class="form-label" for="channel_time_upload">Time Upload Channel</label>
                    <div class="row g-3">

                        <div class="col">
                            <input type="text" name="channel_time_upload" value="03:45,06:30,09:30,15:00" id="channel_time_upload" class="form-control" placeholder="Nhập time upload">
                        </div>
                        <div class="col-auto">
                            <input type="number" style="width:70px;" id="count-random" class="form-control" value="4" min="0" max="10" step="1">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="random-time" type="button">Random</button>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">Url Channel</label>
                    <input type="text" name="channel_url" id="channel_url" class="form-control" placeholder="Nhập url">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="channel_email_login">Email Channel</label>
                    <input type="text" name="channel_email_login" id="channel_email_login" class="form-control" placeholder="Nhập email login">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="channel_vps_upload">IP VPS</label>
                    <input type="text" name="channel_vps_upload" id="channel_vps_upload" class="form-control" placeholder="Nhập vps upload">
                </div>
                <div class="mb-3 ">
                    <button class="btn btn-primary col form-control" id ='save-profile'>Lưu Cấu Hình</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalXlVoiceProfile" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="exampleModalXlLabel">CÀI ĐẶT GIỌNG ĐỌC</h5>
                    <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Giọng Đọc</label>
                                <select id="channel_voice_setting" class="form-control">
                                    {% for voice in folder_voice %}
                                        <option value="{{ voice.id }}" {% if profilesFirst and voice.id == profilesFirst.channel_voice_style.id %}selected{% endif %}>{{ voice.name }}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">styles giọng đọc</label>
                                <select id="channel_voice_style" class="form-control" >
                                    pass
                                </select>
                            </div>
                        </div>
                    </div>
                    <label class="form-label" for="customRange1">SPEED</label>
                    <input id="channel_voice_speed" class="form-range" type="range" min="0" max="100" value="50" >
                    <label class="form-label" for="customRange1">PITCH</label>
                    <input id="channel_voice_pitch" class="form-range" type="range" min="0" max="100" value="50" >
                    <label class="form-label" for="customRange1">VALUE</label>
                    <input id="channel_voice_volume" class="form-range" type="range" min="0" max="100" value="50" >
                    <div class="mb-3">
                        <label class="form-label" for="channel_text_voice">Văn Bản</label>
                        <textarea id="channel_text_voice" class="form-control" placeholder="Nhập text voice" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                    <button class="btn btn-primary"  type="button">NGHE THỬ</button>
                    <button class="btn btn-primary" id="save-voice">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script src="{% static 'assets/js/setting_profile.js' %}"></script>
{% endblock javascripts %}