{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jaxx/0.1.0/jaxx.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
{% endblock stylesheets %}

{% block content %}
<div class="card mb-3">
    <div class="card-body ">
        {% if success == True %}
            <div class="alert alert-success" role="alert" id="success-alert" style="display: none;">
                {{ msg }}
            </div>
        {% elif success == False %}
            <div class="alert alert-danger" role="alert" id="danger-alert" style="display: none;">
                {{ msg }}
            </div>
        {% endif %}
   
        <div class="row justify-content-center">
            <div class="col-xl-4">
                <div class="card border-success mb-3">
                    <div class="card-header text-success">USER PROFILE</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="formGroupExampleInput">USER NAME</label>
                            <input class="form-control" type="text" value="{{ request.user.username }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="formGroupExampleInput">PASS WORLD</label>
                            <div class="input-group">
                                <input class="form-control" id="formGroupExampleInput" value="************" type="password" disabled>
                                <button class="btn btn-primary " type="button" data-coreui-toggle="modal" data-coreui-target="#password">Đổi Password</button>
                            </div>
                            <div class="modal fade" id="password" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLiveLabel">ĐỔI Password</h5>
                                                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="formGroupExampleInput">Password Cũ</label>
                                                                {{ form_2.old_password}}
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="formGroupExampleInput">Password Mới</label>
                                                                {{ form_2.new_password1}}
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" for="formGroupExampleInput">Nhập Lại Password</label>
                                                                {{ form_2.new_password2}}
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit" name="action" value="change-password">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">EMAIL</label>
                                {{ form.email }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">TÊN NGÂN HÀNG</label>
                                {{ form.full_name }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">TÊN NGƯỜI NHẬN</label>
                                {{ form.name_bank }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="formGroupExampleInput">SỐ TÀI KHOẢN NGÂN HÀNG</label>
                                {{ form.bank_number }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="formGroupExampleInput">SỐ ĐIỆN THOẠI LIÊN HỆ</label>
                                {{ form.phone_number}}
                            </div>
                            <button class="btn btn-primary col-12" type="submit" name="action" value="update-infor">Cập Nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    // Hiển thị thông báo thành công trong 5 giây sau khi trang được tải
    window.onload = function() {
        setTimeout(function() {
            document.getElementById('success-alert').style.display = 'block';
            setTimeout(function() {
                document.getElementById('success-alert').style.display = 'none';
            }, 10000);
        }, 0);

        // Hiển thị thông báo nguy hiểm trong 5 giây sau khi trang được tải
        setTimeout(function() {
            document.getElementById('danger-alert').style.display = 'block';
            setTimeout(function() {
                document.getElementById('danger-alert').style.display = 'none';
            }, 10000);
        }, 0);
    };

    
    
</script>
{% endblock javascripts %}